name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Debug File Structure
        run: |
          echo "Listing root files:"
          ls -la
          echo "Listing public folder:"
          ls -la public/ || echo "Public folder not found!"

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Start App & Run Tests
        run: |
          npx playwright test


      - name: Upload Playwright Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: |
             playwright-report/
             test-results/
          retention-days: 1